.final{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: inherit;
}

.explanations{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 40px;
}