.container{
    width: 100%;
}
.container-b{
    height: 400vh;
}
.columns{
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 170px;
    padding-top: 180px;
}
.row{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.column .is-full, .column .is-6, .title{
    margin-bottom: 50px;
}
.column .is-full{
    padding-left: 90px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
h1{
    font-size: 70px;
    font-weight: bold;
}
p{
    font-size: x-large;
    font-weight: unset;
}

button{
    background-color: rgb(103, 18, 13);
    border-radius: 20px;
    width: 120px;
    height: 50px;
    color: white;
    margin-bottom: 90px;
}

#intro{
    position: absolute;
    z-index: 999;
    color: white;
}

#video{
    position: absolute;
    top: -110px;
    opacity: 0.8;
}
